<div class="container logs">

    <div class="row">
        <div class="col-md-12">
            <!--<form name="searchLogs" class="form-inline search-logs-form">-->
                <!--<div class="input-group">-->
                    <!--<div class="input-group-addon"><i class="glyphicon glyphicon-search"></i> Search:</div>-->
                    <!--<div class="dropdown">-->
                        <!--<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"-->
                                <!--data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
                            <!--<span class="caret"></span>-->
                        <!--</button>-->
                        <!--<ul class="dropdown-menu" aria-labelledby="searchLogsDropDown">-->
                            <!--<li>-->
                                <!--<a href="#"></a>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                    <!--<input class="form-control" type="text" name="searchValue"/>-->
                <!--</div>-->
                <!--<button type="submit" class="btn btn-primary">-->
                    <!--<i class="glyphicon glyphicon-search"></i>-->
                <!--</button>-->
            <!--</form>-->
        </div>
    </div>

    <div class="row">
        <div class="col-md-1 col-lg-1">
            <h4>Level</h4>
        </div>
        <div class="col-md-2 col-lg-2">
            <h4>Time</h4>
        </div>
        <div class="col-md-2 col-lg-2">
            <h4>Source</h4>
        </div>

        <div class="col-md-4 col-lg-4">
            <h4>Log message</h4>
        </div>

        <div class="col-md-2 col-lg-2">
            <h4>Additional info</h4>
        </div>
    </div>

    <div infinite-scroll="" infinite-scroll-immediate-check="false">
        <div></div>
    </div>

</div>