<div class="container app-settings">
    <div class="row">
        <div class="col-md-12 col-lg-12">

            <!--<form class="form-horizontal">-->

                <!--<div class="panel panel-default">-->
                    <!--<div class="panel-heading"><i class="glyphicon glyphicon-time"></i> Business hours</div>-->
                    <!--<div class="panel-body">-->

                        <!--<div class="form-group">-->
                            <!--<label class="col-md-3 control-label">Day Starts:</label>-->
                            <!--<div class="col-md-9">-->
                                <!--&lt;!&ndash;<timepicker name="dayStarts" data-show-meridian="false" data-minute-step="10"&ndash;&gt;-->
                                            <!--&lt;!&ndash;data-ng-model="appSettings.dayStarts"></timepicker>&ndash;&gt;-->

                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="form-group">-->
                            <!--<label class="col-md-3 control-label">Day Ends:</label>-->
                            <!--<div class="col-md-9">-->
                                <!--&lt;!&ndash;<timepicker name="dayEnds" data-show-meridian="false" data-minute-step="10"&ndash;&gt;-->
                                            <!--&lt;!&ndash;data-ng-model="appSettings.dayEnds"></timepicker>&ndash;&gt;-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="form-group">-->

                            <!--<div class="col-md-9">-->
                                <!--<button class="btn btn-default">Save business hours-->
                                <!--</button>-->
                            <!--</div>-->
                        <!--</div>-->

                    <!--</div>-->
                <!--</div>-->

                <!--<div class="panel panel-default">-->
                    <!--<div class="panel-heading"><i class="glyphicon glyphicon-cog"></i> General settings</div>-->
                    <!--<div class="panel-body">-->

                        <!--<div class="form-group">-->
                            <!--<label class="col-md-5 control-label">Interval of starting checking-->
                                <!--calendars events (minutes):-->
                            <!--</label>-->
                            <!--<div class="col-md-7">-->
                                <!--<input class="form-control" type="number">-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="form-group">-->
                            <!--<label class="col-md-5 control-label">Long bookings period (days):</label>-->
                            <!--<div class="col-md-7">-->
                                <!--<input class="form-control" type="number">-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="form-group">-->
                            <!--<label class="col-md-5 control-label">Days for waiting user-->
                                <!--reaction (days):</label>-->
                            <!--<div class="col-md-7">-->
                                <!--<input class="form-control" type="number">-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="form-group">-->
                            <!--<label class="col-md-5 control-label">Interval between sending failed e-mails portions(minimum 5 minutes)</label>-->
                            <!--<div class="col-md-7">-->
                                <!--<input class="form-control" type="number">-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="form-group">-->

                            <!--<div class="col-md-9">-->
                                <!--<button class="btn btn-default">Save general settings-->
                                <!--</button>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <!--&lt;!&ndash;Debug Settings Start&ndash;&gt;-->
                <!--<div class="panel panel-default">-->
                    <!--<div class="panel-heading">Debug settings</div>-->
                    <!--<div class="panel-body">-->

                        <!--<div class="form-group">-->
                            <!--<label class="col-md-5 control-label">Debug mode (on/off):</label>-->
                            <!--<div class="col-md-7 ">-->
                                <!--<div>-->
                                    <!--<input id="debugMode" name="debugMode" type="checkbox">-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="form-group">-->
                            <!--<label for="debugEmail" class="col-md-5 control-label">Debug email:</label>-->
                            <!--<div class="col-md-7">-->
                                <!--<input class="form-control" id="debugEmail" type="email">-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="form-group">-->

                            <!--<div class="col-md-9">-->
                                <!--<button class="btn btn-default">Save debug settings-->
                                <!--</button>-->
                            <!--</div>-->
                        <!--</div>-->

                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; Debug Settings End&ndash;&gt;-->

            <!--</form>-->

        </div>
    </div>

</div>