<div class="container approve-list">

    <div class="row">
        <div class="col-md-3 col-lg-3">
            <form name="searchUserForm" [formGroup]="searchUserForm">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search the user..." formControlName="userName">
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-lg-12">

            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="w-30 sortable" (click)="onSortUsers('username')">
                        Username <i *ngIf="showCaret('username')" [class]="toggleCaret()" aria-hidden="true"></i>
                    </th>
                    <th class="w-25">
                        Role
                    </th>
                    <th class="w-25">
                        <label for="selectRole">
                            <span>Action</span>
                        </label>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let user of users | filterUsers : searchUserForm.value.userName">
                    <td>{{user.username}}</td>
                    <td>
                        <form name="selectRoleForm" [formGroup]="selectRoleForm">
                            <select id="selectRole" class="form-control w-50" formControlName="role" (change)="onSetUserRole($event.target.value, user._id)">
                                <option value="admin" [selected]="user.roles.__global_roles__[0] === 'admin'">Admin</option>
                                <option value="user" [selected]="user.roles.__global_roles__[0] === 'user'">User</option>
                            </select>
                        </form>
                    </td>
                    <td>
                        <button class="btn btn-danger btn-sm" (click)="openModal(user._id, user.username)"><i
                                class="fa fa-trash" aria-hidden="true"></i></button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div *ngIf="!users.length">
                No users
            </div>
        </div>
    </div>
    <ng-template #dynamicModal></ng-template>
</div>