<div class="container manage-users">

    <div class="row">
        <div class="col-md-3 col-lg-3">
            <!--<form>-->
                <!--<div class="form-group">-->
                    <!--<input type="text" class="form-control" placeholder="Search...">-->
                <!--</div>-->
            <!--</form>-->

        </div>
    </div>


    <div class="row">
        <div class="col-md-12 col-lg-12">
            <table class="table">
                <tr>
                    <th class="header-cell-sortable noselect">
                        Username
                        <span class="sortorder"></span>
                    </th>
                    <th class="header-cell-sortable noselect">
                        Role
                        <span class="sortorder"></span>
                    </th>
                    <th class="header-cell noselect">
                        Action
                    </th>
                </tr>

                <tr>

                </tr>

            </table>

        </div>
    </div>
</div>