<div class="container manage-locations">
    <div class="row">

        <div class="col-md-3 col-lg-3 ">
            <!--<form>-->
                <!--<div class="form-group">-->
                    <!--<input type="text" class="form-control" placeholder="Search...">-->
                <!--</div>-->
            <!--</form>-->
        </div>

        <div class="col-md-offset-3 col-md-6 col-lg-6 add-location-form-container">
            <!--<form class="form-inline" name="addLocation">-->
                <!--<div class="form-group">-->
                    <!--<div class="input-group">-->
                        <!--<div class="input-group-addon"><i class="glyphicon glyphicon-globe"></i> Add Location (3-->
                            <!--characters min):-->
                        <!--</div>-->
                        <!--<input name="newLocation" type="text" class="form-control" placeholder="Location">-->
                    <!--</div>-->
                <!--</div>-->

                <!--<button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>-->
                <!--</button>-->
            <!--</form>-->
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-lg-12">
            <table class="table">
                <tr>
                    <th class="col-md-3">
                        Location
                    </th>
                    <th>
                        Assigned User
                    </th>
                    <th class="col-md-2">
                        Remove Location
                    </th>
                </tr>
                <tr></tr>
            </table>
        </div>
    </div>

</div>